<HTML>
	<HEAD>
			<TITLE>Resultados del Buscador</TITLE>
	</HEAD>
		<BODY background="http://homylicious.com/wp-content/uploads/home-design-abstract-art-graphic-green-image-ressource-retro-vector-wallpaper-lime-green-abstract-art.jpg" text= "eeeeee">
		<H2><CENTER><FONT COLOR="blue"> Resultado de la búsqueda</FONT></CENTER></H2><HR>
		
		<TABLE border=1 bordercolor="blue" width=100%>

		<TR width = 25%>
		
		<TD width = 25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN01 %> height=200 height=250>
				<p> <FONT COLOR="black">Banda: <%= $BANDA01 %> </FONT>
				<br>
				   <FONT COLOR="black">Album: <%= $ALBUM01 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL01 %> </FONT>
				</br> 
				</p>	
				  <P><a href="https://twitter.com/share" data-text="<%= $BANDA01%> <%= $ALBUM01%> " data-url=<%= $URL01%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>


		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN02 %> height=200 height=250>
				<p> <FONT COLOR="black">Banda: <%= $BANDA02 %> </FONT>
				<br>
				   <FONT COLOR="black">Album: <%= $ALBUM02 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL02 %> </FONT>
				</br> 
				 <P><a href="https://twitter.com/share" data-text="<%= $BANDA02%> <%= $ALBUM02%> " data-url=<%= $URL02%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>

		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN03 %> height=200 height=250>
				<p> <FONT COLOR="black">Banda: <%= $BANDA03 %> </FONT>
				<br>
				   <FONT COLOR="black"> Album: <%= $ALBUM03 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL03 %> </FONT>
				</br> 
				 <P><a href="https://twitter.com/share" data-text="<%= $BANDA03%> <%= $ALBUM03%> " data-url=<%= $URL03%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>

		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN04 %> height=200 height=250>
				<p> <FONT COLOR="black">Banda: <%= $BANDA04 %> </FONT>
				<br>
				   <FONT COLOR="black"> Album: <%= $ALBUM04 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL04 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA04%> <%= $ALBUM04%> " data-url=<%= $URL04%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>
		</TR>

		<TR width = 25%>
		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN05 %> height=200 height=250>
				<p><FONT COLOR="black">Banda: <%= $BANDA05 %> </FONT>
				<br>
				   <FONT COLOR="black">Album: <%= $ALBUM05 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL05 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA05%> <%= $ALBUM05%> " data-url=<%= $URL05%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>


		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN06 %> height=200 height=250>
				<p> <FONT COLOR="black">Banda: <%= $BANDA06 %> </FONT>
				<br>
				   <FONT COLOR="black"> Album: <%= $ALBUM06 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL06 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA06%> <%= $ALBUM06%> " data-url=<%= $URL06%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>

		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN07 %> height=200 height=250>
				<p><FONT COLOR="black">Banda: <%= $BANDA07 %> </FONT>
				<br>
				   <FONT COLOR="black"> Album: <%= $ALBUM07 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL07 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA07%> <%= $ALBUM07%> " data-url=<%= $URL07%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>

		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN08 %> height=200 height=250>
				<p><FONT COLOR="black">Banda: <%= $BANDA08 %> </FONT>
				<br>
				   <FONT COLOR="black">Album: <%= $ALBUM08 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL08 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA08%> <%= $ALBUM08%> " data-url=<%= $URL08%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>
		</TR>

		<TR width = 25%>
		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN09 %> height=200 height=250>
				<p><FONT COLOR="black">Banda: <%= $BANDA09 %> </FONT>
				<br>
				   <FONT COLOR="black">Album: <%= $ALBUM09 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL09 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA09%> <%= $ALBUM09%> " data-url=<%= $URL09%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>

		<TD width=25%>
			<div> <CENTER>
				<img src= <%= $IMAGEN010 %> height=200 height=250>
				<p><FONT COLOR="black">Banda: <%= $BANDA010 %> </FONT>
				<br>
				   <FONT COLOR="black">Album: <%= $ALBUM010 %> </FONT>
				   <FONT COLOR="black">URL: <%= $URL010 %> </FONT>
				</br> 
				<P><a href="https://twitter.com/share" data-text="<%= $BANDA010%> <%= $ALBUM010%> " data-url=<%= $URL010%> data-lang="es" data-count="horizontal" class="twitter-share-button">Tweet</a></P>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</CENTER> </div>

		</TD>

		</TR>




	</BODY>
</HTML>
